<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../styles/listsStyle.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> 
    <script src="/socket.io/socket.io.js"></script>
    <script src="../event/friendsListEvent.js"></script>
  </head>
<body>
  <div id="chatbox">
	<div id="friendslist">
    	<div id="topmenu">
        	<span class="friends"></span>
            <span class="chats"></span>
            <span class="history"></span>
        </div>
        
        <div id="friends">
            <!-- friend List -->
            
            <div id="search">
	            <input type="text" id="searchfield" value="Search contacts..." />
            </div>
        </div>
    </div>
</body>
</html>