<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="../../styles/roomStyle.css"/>
    <link rel="stylesheet" href="../../styles/menuStyle.css">
    <link rel="stylesheet" href="../../styles/roomInListStyle.css">
  </head>
  <body>
    <div id="chatbox">
        <div id="topmenu">
            <span class="out" onclick="location.href='../'"></span>
            <input class="title" type="text" value="Name">
            <!-- Open The Make Room Box -->
            <button class="menu" onclick="modalBtnClick()"></button>
            <!-- Make Room Box The Modal -->
            <div id="menuModal">
              <!-- <span class="plus" ></span> -->
              <button id="calendar" onclick="location.href='cal.html'"></button>
              <button id="invite" onclick="inviteBtnClick()"></button>
              <button id="exit" onclick="exitBtnClick()"></button>
            </div>

            <div class="modal">
              <div class="modal-content invite">
                <span class="close" onclick="modalClose()">&times;</span>
                <p id="modalTitle">Select a contact</p>
                <div id="modalSearch">
                  <input type="text" placeholder="Search name" id="searchText">
                  <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
                </div>
                <div id="chooseList">
                  <!-- chooseRow -->

                </div>
                <div id="modalSelect">
                  <!-- selectField -->
                  
                </div>
                <button id="inviteRoomBtn" type="submit" onclick="inviteRoom()">Invite</button>
              </div>
              <div class="modal-content exit">
                <span class="close" onclick="modalClose()">&times;</span>
                <p id="modalTitle">Leave the room?</p>
                <button onclick="exitRoom()">Yes</button>
              </div>
            </div>
            <!--  -->
        </div>

        <div id="roomInList" onclick="roomInListClick()">
          <div id="roomInListModal"></div>
        </div>

        <div id="chatview">
            <div id="chat-messages">
                <!-- Message -->
                <label id="Untranslated"><h2>I'm translating...</h2></label>
            </div>
            <div id="sendmessage">
                <input id="msgInput" type="text" placeholder="Send message..." />
                <button id="sendBtn" onclick="sendMessage()"></button>
            </div>
        </div>        
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> 
    <script src="/socket.io/socket.io.js"></script>
    <script src="../../event/roomEvent.js"></script>
  </body>
</html>