<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <link rel="stylesheet" href="../styles/setting.css"/>
 </head>
 <body>
  <div class="content">
    <div id="jquery-accordion-menu" class="jquery-accordion-menu red">
      <div class="jquery-accordion-menu-header" id="topmenu">
        <span class="friends" onclick="location.href='list.html'"></span>
        <span class="chats" onclick="location.href='chat_list.html'"></span>
        <span class="history" onclick="location.href='setting.html'"></span>
      </div>
      <ul id="demo-list">
        <li><a href="#"><i class="fa fa-suitcase"></i>Portfolio </a>
          <ul class="submenu">
            <li><a href="#">Company </a></li>
            <li><a href="#">공지사항 </a><span class="jquery-accordion-menu-label">10 </span></li>
          </ul>
        </li>
        <li><a href="#"><i class="fa fa-user"></i>Profile </a>
          <ul class="submenu">
            <li><a href="#">개인정보 </a>
              <ul class="submenu">
                <li><a href="#">이름 </a></li>
                <li><a href="#">이메일 </a></li>
              </ul>
             </li>
            <li><a href="#"> logout </a></li>
          </ul>
        </li>
        <li><a href="#"><i class="fa fa-envelope"></i>Messages </a>
          <ul class="submenu">
            <li><a href="#">언어 설정 </a>
              <ul class="submenu">
                <li><a href="#">Language </a></li>
                <li><a href="#">time </a></li>
              </ul>
            </li>
             <li><a href="#">Design </a>
              <ul class="submenu">
                <li><a href="#">Graphics </a></li>
                <li><a href="#">Fonts </a></li>
              </ul>
            </li>
          </ul>
        </li>
            
        <li><a href="#"><i class="fa fa-cog"></i>Services </a>
          <ul class="submenu">
            <li><a href="#">알림 설정
                <input type="checkbox" id="toggle" hidden> 
                <label for="toggle" class="toggleSwitch">
                  <span class="toggleButton"></span>
                </label>
            </a></li>
          </ul>
          <ul class="submenu">
            <li><a href="#">방해금지모드 </a>
              <ul class="submenu">
                <li><a href="#">방해금지모드 ON/OFF 
                  <input type="checkbox" id="toggle" hidden> 
                  <label for="toggle" class="toggleSwitch">
                    <span class="toggleButton"></span>
                  </label>
                </a></li>
                <li><a href="#">시간 설정 </a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <div class="jquery-accordion-menu-footer" onclick="location.href='login.html'">
        LogOut
      </div>
    </div>
  </div>
 </body>
</html>