@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
* { margin:0px; padding:0px; }

body {
	position:relative;
	min-height:100vh;
	background-color:#E1E8EE;
	display:flex;
	align-items:center;
	justify-content:center;
	font-family:"Fira Sans", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	overflow-x:hidden;
}

#chatbox{
	background-color:#fff;
	border-radius:3vh;
	height:100vh;
	width:100vw;
	position:relative;
	overflow:hidden;
}

#rows{
	overflow-y:scroll;
	height:82vh;
	-ms-overflow-style:none;
}
#rows::-webkit-scrollbar{
	display:none;
}

#topmenu{
	height:10vh;
	border-bottom:1px solid #d8dfe3;
	background-color:#FFF;
	display:flex;
}
#topmenu span{
	float:left;
	flex:1;
    height:10vh;
}
#topmenu span.friends{background:url('../img/friends_btn.png') no-repeat center; background-size:6vh;}
#topmenu span.friends:hover{cursor:pointer;}
#topmenu span.rooms{background:url('../img/rooms_btn.png') no-repeat center; background-size:6vh;}
#topmenu span.rooms:hover{cursor:pointer;}
#topmenu span.setting{background:url('../img/setting_btn.png') no-repeat center; background-size:6vh;}
#topmenu span.setting:hover{cursor:pointer;}

.row{
	height:200px; /* 11vh */
	border-bottom:1px solid #e7ebee;
	position:relative;
	overflow:hidden;
}
.row:hover{
	background:#f1f4f6;
	cursor:pointer;
}
.row img{
	height:150px;
	width:150px;
	border-radius:50%;
	margin:25px;
	float:left;
}
.row p{
	padding:45px 0 0 0;
	width:60vw;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.friend p{
	padding:50px 0 0 0;
	line-height:300%;
}
.row p strong{
	font-weight:500;
	font-size:50px;
	color:#597a96;
}
.room p strong{
	font-size:42px;
	text-align:left;
}
.room div{
    text-align:left;
	font-size:35px;
	color:#000;
	width:70vw;
	padding:15px 0 0 0;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.room a{
    float:right;
    text-align:right;
	font-size:38px;
	color:#687a90;
	margin:-160px 50px 0 0;
}
.row p span{
	font-size:34px;
	font-weight:400;
	color:#597a90;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.row .status{
	background:#26c281;
	border-radius:50%;
	width:30px;
	height:30px;
	position:absolute;
	top:85px;
	right:40px;
}
.row .status.away{background:#ffce54;}
.row .status.inactive{background:#eaeef0;}
#friend_search{
	background:#e3e9ed url("../img/search_icon.png") 2vh center no-repeat;
	background-size:3.5vh;
	height:8vh;
	width:100vw;
	position:absolute;
	bottom:0;
	left:0;
}
#searchfield{
	background:#e3e9ed;
	margin:3vh 0 0 13.5vw;
	border:none;
	width:80vw;
	font-size:2.1vh;
	font-family:"Fira Sans", Helvetica, Arial, sans-serif;
	font-weight:400;
	color:#333;
}
#searchfield:focus{
	outline:0;
}
#room_search{
	height:8vh;
	width:100vw;
	position:absolute;
	bottom:0;
	border-bottom:0.2vh solid #d8dfe3;
	border-top:0.2vh solid #d8dfe3;
	cursor:pointer;
	text-align:center;
}