@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
html, body {
  position: relative;
  border: #eee solid 1px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.userinfo {
  display: none;
}

.form-structor {
  background-color: #404040;
  border-radius: 3vh;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}
.form-structor::after {
  content: "";
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100vh;
}
.form-structor .signup {
  position: absolute;
  top: 45%;
  left: 52%;
  -webkit-transform: translate(-50%, -50%);
  width: 75%;
  z-index: 5;
  -webkit-transition: all 0.3s ease;
}
.form-structor .signup.slide-up {
  top: 5%;
  -webkit-transform: translate(-50%, 0%);
  -webkit-transition: all 0.3s ease;
}
.form-structor .signup h2 {
  margin-left: -5vh;
}
.form-structor .signup.slide-up h2 {
  margin-left: 0vh;
}
.form-structor .signup.slide-up .form-holder, .form-structor .signup.slide-up .submit-btn {
  opacity: 0;
  visibility: hidden;
}
.form-structor .signup.slide-up .form-title {
  font-size: 2.8vh;
  cursor: pointer;
}
.form-structor .signup.slide-up .form-title span {
  margin-right: 1vh;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}
.form-structor .signup .form-title {
  color: #F0EDCC;
  font-size: 4vh;
  text-align: center;
}
.form-structor .signup .form-title span {
  color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
}
.form-structor .signup .form-holder {
  overflow: hidden;
  margin-top: 10vh;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}
.form-structor .signup .form-holder .input {
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  height: 6vh;
  line-height: 6vh;
  padding: 0.5vh 3vh;
  border-bottom: 0.2vh solid #F0EDCC;
  width: 90%;
  font-size: 2vh;
  background-color: #404040;
  color: #F0EDCC;
}
.form-structor .signup .form-holder .input::-webkit-input-placeholder {
  color: rgba(240, 237, 204, 0.4);
}
.form-structor .signup .form-holder .select {
  -webkit-appearance: none; /* 화살표 없애기 for chrome*/
  -moz-appearance: none; /* firefox*/
  color: #F0EDCC;
  height: 7vh;
  line-height: 5.5vh;
  width: 100%;
}
.form-structor .signup .submit-btn {
  background-color: rgba(64, 64, 64, 0.7);
  color: rgba(240, 237, 204, 0.7);
  border: #F0EDCC solid 1px;
  border-radius: 2vh;
  display: block;
  margin: 3vh auto;
  padding: 1.7vh 9vh;
  width: 100%;
  font-size: 2vh;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}
.form-structor .signup .submit-btn:hover {
  transition: all 0.3s ease;
  background-color: rgba(240, 237, 204, 0.7);
  color: rgba(64, 64, 64, 0.7);
}
.form-structor .login {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F0EDCC;
  z-index: 5;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -4vh;
  -webkit-transform: translate(-50%, 0);
  background-color: #F0EDCC;
  width: 200%;
  height: 50vh;
  border-radius: 50%;
  z-index: 4;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login .center {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  width: 75%;
  z-index: 5;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login .center .form-title {
  color: #404040;
  font-size: 4vh;
  text-align: center;
}
.form-structor .login .center .form-title span {
  color: rgba(64, 64, 64, 0.4);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login .center .form-holder {
  overflow: hidden;
  margin-top: 10vh;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login .center .form-holder .input {
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  height: 6vh;
  line-height: 6vh;
  padding: 0.5vh 3vh;
  border-bottom: 0.2vh solid #404040;
  width: 90%;
  font-size: 2vh;
  background-color: #F0EDCC;
  color: #404040;
}
.form-structor .login .center .form-holder .input::-webkit-input-placeholder {
  color: rgba(64, 64, 64, 0.4);
}
.form-structor .login .center .submit-btn {
  background-color: rgba(240, 237, 204, 0.7);
  color: rgba(64, 64, 64, 0.7);
  border: #404040 solid 1px;
  border-radius: 2vh;
  display: block;
  margin: 3vh auto;
  padding: 1.7vh 9vh;
  width: 100%;
  font-size: 2vh;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login .center .submit-btn:hover {
  transition: all 0.3s ease;
  background-color: rgba(64, 64, 64, 0.7);
  color: rgba(240, 237, 204, 0.7);
}
.form-structor .login.slide-up {
  top: 90%;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login h2 {
  margin-left: -5vh;
}
.form-structor .login.slide-up h2 {
  margin-left: 0vh;
}
.form-structor .login.slide-up .center {
  top: 10%;
  -webkit-transform: translate(-50%, 0%);
  -webkit-transition: all 0.3s ease;
}
.form-structor .login.slide-up .form-holder, .form-structor .login.slide-up .submit-btn {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login.slide-up .form-title {
  font-size: 2.8vh;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
}
.form-structor .login.slide-up .form-title span {
  margin-right: 1vh;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}

.input-file-button {
  overflow: hidden;
  cursor: pointer;
}

.profil {
  position: static;
  border: 1px solid #eee;
  border-radius: 50%;
  margin: 0 23vw -7vh 23vw;
  width: 25vw;
  height: 25vw;
  object-fit: cover;
}

/*# sourceMappingURL=loginStyle.css.map */
