/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Button */
#myBtn {
  background: url("../img/room_add.png") no-repeat center;
	background-size:5.5vh;
  width:5.5vh;
  height:5.5vh;
  border-style:none;
  margin:1.25vh 0;
}

/* Modal Content */
.modal-content {
  background-color: #404040;
  margin: auto;
  padding: 2%;
  width: 80%;
  height: 80vh;
}

/* The Close Button */
.close {
  color: #F0EDCC;
  float: right;
  font-size:3vh;
  font-weight: bold;
  margin-top:0.5vh;
  margin-right:1vh;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Title */
#modalTitle {
  color: #F0EDCC;
  float: left;
  font-size: 2.3vh;
  font-weight: bold;
  height:6vh;
  line-height: 5.2vh;
  margin-left: 1.5vh;
}

/* Search Field */
#modalSearch {
  background:url("../img/search.png") 1.5vh center no-repeat;
  background-size:2.5vh;
  position:relative;
  clear:both;
  width:100%;
  height:5vh;
  margin-top:3vh;
}

#modalSearch input {
  width: 83%;
  height: 4vh;
  margin-top: 0.5vh;
  margin-left:5.5vh;
  font-size: 1.8vh;
  border-style: none;
  background-color:#404040;
  color:#F0EDCC;
}
#modalSearch input:focus{
  outline:0;
}

/* Choose List Field */
#chooseList {
  width: 92%;
  height: 5vh;
  overflow-x:scroll;
  white-space: nowrap;
	-ms-overflow-style:none;
  margin:1.5vh 3% 0 3%;
  padding: 0.5vh;
}
#chooseList::-webkit-scrollbar {
	display:none;
}
.chooseRow {
  position:relative;
  display:inline-block;
  width: 5vh;
  height: 5vh;
}
.chooseRow span {
  position:absolute;
  top:-8px;
  right:5px;
  color: #F0EDCC;
  font-size:1.5vh;
}
.chooseRow img {
  object-fit:cover;
  border-radius: 50%;
  width: 3vh;
  height: 3vh;
  margin: 0 1vh;
}
.chooseRow img.smFlag {
  width: 1.5vh;
  height: 1vh;
  position:absolute;
  bottom:1.8vh;
  left:2.2vh;
  border-radius:0;
}
.chooseRow p {
  width: 4vh;
  height: 1.5vh;
  margin-top: -0.5vh;
  padding: 0 0.5vh;
  text-align:center;
  font-size: 1vh;
  overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
  color: #F0EDCC;
}

/* Select Field */
#modalSelect {
  background-color:#404040;
	overflow-y:scroll;
	height:54vh;
	-ms-overflow-style:none;
}
#modalSelect::-webkit-scrollbar {
	display:none;
}

.selectField {
	height:60px; /* 11vh */
	position:relative;
	overflow:hidden;
}
.selectField:hover{
  background:#555;
	cursor:pointer;
}
.selectField img{
  object-fit:cover;
  height:41px;
  width:41px;
  border-radius:50%;
  margin:9px;
  float:left;
}
.selectField p{
	padding:11px 0 0 0;
	line-height:120%;
	width:65%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
  text-align:left;
}
.selectField p img{
  width: 15px;
  height: 10px;
  position:absolute;
  bottom:3px;
  left:30px;
  border-radius:0;
}
.selectField p strong{
	font-weight:bold;
	font-size:15px;
  color:#F0EDCC;
}
.selectField p span{
	font-size:13px;
  color:#F0EDCC;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.selectField input[type='checkbox']{
  position:absolute;
  top:0;
  right:0;
  width:25px;
  height:25px;
  border:1px solid #555;
  border-radius: 50%;
  appearance:none;
  margin:17.5px;
}
.selectField input[type='checkbox']:checked{
  background:#F0EDCC url('../img/check.png') no-repeat center;
  background-size: 20px;
}

/* Make Room Button */
#makeRoomBtn {
  width:25vw;
  height:4vh;
  margin:2vh;
  background-color:#404040;
  border:#F0EDCC solid 1px;
  color:#F0EDCC;
  border-radius:5vh;
  box-shadow:none;
  font-size:1.7vh;
}
#makeRoomBtn:active {
  background-color:#F0EDCC;
  color:#404040;
}