/* ======= Menu ======= */
#menuModal {
	position: absolute;
	right: -41vw;
	width: 40vw;
	height: 100vh;
	background:#404040;
	z-index: 2;
  border-radius:1vh 0 0 1vh;
}
#menuModal > div {
	width: 36vw;
	height: 50px;
  display: block;
  line-height: 50px;
  padding-left: 4vw;
  font-size: 15px;
  border-bottom: 1px solid #555;
  color: #F0EDCC;
}
#menuModal > div > img {
  width: 20px;
  height: 20px;
  margin: 15px;
	border-style: none;
  float: right;
}
#menuModal > div#roomInList {
	width: 40vw;
  padding: 0;
  height:100%;
  overflow-x:hidden;
  overflow-y:scroll;
  white-space:nowrap;
  -ms-overflow-style:none;
}
#menuModal > div:hover {
  background-color: #555;
}
#menuModal > div#roomInList:hover {
  background-color: #404040;
}

/* Menu in Button Click */

/* background */
.modal {
	display: none; /* Hidden by default */
  opacity: 0;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 18vh; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content{
  display:none;
	background-color: #404040;
	margin: auto;
	padding: 2%;
	border: 1px solid #555;
	width: 80%;
  text-align:center;
}

/** ================== Invite Box ================== */
.modal-content.invite{
	height: 55vh;
  opacity: 0;
}
/* The Close Button */
.modal-content .close {
  color: #F0EDCC;
  float: right;
  font-size:3vh;
  font-weight: bold;
  margin-top:0.5vh;
  margin-right:1vh;
}
.modal-content .close:hover,
.modal-content .close:focus {
  color: #555;
  text-decoration: none;
  cursor: pointer;
}
/* Title */
#modalTitle {
  color: #F0EDCC;
  float: left;
  font-size: 2.3vh;
  font-weight: bold;
  height:6vh;
  line-height: 5.2vh;
  margin-left: 1.5vh;
}
/* Search Field */
.modal-content.invite #modalSearch {
  background:url("../img/search.png") 1.5vh center no-repeat;
  background-size:2.5vh;
  position:relative;
  clear:both;
  width:100%;
  height:5vh;
  margin-top:3vh;
}
.modal-content.invite #modalSearch input {
  width: 83%;
  height: 4vh;
  margin-top: 0.5vh;
  margin-left:5.5vh;
  font-size: 1.8vh;
  border-style: none;
  background-color:#404040;
  color:#F0EDCC;
}
.modal-content.invite #modalSearch input:focus {
  outline:0;
}
/* Choose List Field */
.modal-content.invite #chooseList {
  width: 92%;
  height: 5vh;
  overflow-x:scroll;
  white-space: nowrap;
	-ms-overflow-style:none;
  margin:1.5vh 3% 0 3%;
  padding: 0.5vh;
}
.modal-content.invite #chooseList::-webkit-scrollbar {
	display:none;
}
.chooseRow {
  position:relative;
  display:inline-block;
  width: 5vh;
  height: 5vh;
}
.chooseRow span {
  position:absolute;
  top:-8px;
  right:5px;
  color: #F0EDCC;
  font-size:1.5vh;
}
.chooseRow img {
  object-fit:cover;
  border-radius: 50%;
  width: 3vh;
  height: 3vh;
  margin: 0 1vh;
}
.chooseRow img.smFlag {
  width: 1.5vh;
  height: 1vh;
  position:absolute;
  bottom:1.8vh;
  left:2.2vh;
  border-radius:0;
}
.chooseRow p {
  color: #F0EDCC;
  width: 4vh;
  height: 1.5vh;
  margin-top: -0.5vh;
  padding: 0 0.5vh;
  text-align:center;
  font-size: 1vh;
  overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
/* Select Field */
.modal-content.invite #modalSelect {
	overflow-y:scroll;
	height:29vh;
	-ms-overflow-style:none;
}
.modal-content.invite #modalSelect::-webkit-scrollbar {
	display:none;
}

#modalSelect .selectField {
	height:60px; /* 11vh */
	position:relative;
	overflow:hidden;
}
#modalSelect .selectField:hover{
	background:#555;
	cursor:pointer;
}
#modalSelect .selectField img{
  height:41px;
  width:41px;
  border-radius:50%;
  margin:9px;
  float:left;
  object-fit:cover;
}
#modalSelect .selectField p{
	padding:11px 0 0 0;
	line-height:120%;
	width:65%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
  text-align:left;
}
#modalSelect .selectField p img{
  width: 15px;
  height: 10px;
  position:absolute;
  bottom:3px;
  left:30px;
  border-radius:0;
}
#modalSelect .selectField p strong{
	font-weight:bold;
	font-size:16px;
	color:#F0EDCC;
}
#modalSelect .selectField p span{
	font-size:13px;
	color:#F0EDCC;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
#modalSelect .selectField input[type='checkbox']{
  position:absolute;
  top:0;
  right:0;
  width:25px;
  height:25px;
  border:1px solid #555;
  border-radius: 50%;
  appearance:none;
  margin:17.5px;
}
#modalSelect .selectField input[type='checkbox']:checked{
  background:#F0EDCC url('../img/check.png') no-repeat center;
  background-size: 20px;
}
/* Make Room Button */
#inviteRoomBtn {
  width:25vw;
  height:4vh;
  margin:2vh;
  background-color:#404040;
  border:1px solid #F0EDCC;
  color: #F0EDCC;
  border-radius:5vh;
  box-shadow:none;
  font-size:1.7vh;
}
#inviteRoomBtn:hover {
  background-color:#F0EDCC;
  color:#404040;
}

/* ================== Exit Box ================== */
.modal-content.exit{
  margin-top: 20vh;
	height: 15vh;
  text-align: center;
  position:relative;
  opacity: 0;
}
.modal-content.exit button {
  position:absolute;
  left:32vw;
  bottom:3.5vh;
  width:23vw;
  height:4vh;
  background-color:#404040;
  border:1px solid #F0EDCC;
  color:#F0EDCC;
  border-radius:5vh;
  font-weight:600;
  font-size:1.7vh;
}
.modal-content.exit button:hover {
  background-color:#F0EDCC;
  color:#404040;
}


/* ================== RoomInList Box ================== */
div#roomInList div.listCol {
  width:40vw;
  height:45px;
  border-bottom:1px solid #555;
  position: relative;
  line-height:45px;
}
div#roomInList div.listCol:hover {
  background-color: #555;
}
div.listCol img.listColProfile {
  object-fit:cover;
  width:30px;
  height:30px;
  border-radius:50%;
  margin:7.5px;
}
div.listCol img.listColFlag {
  object-fit:cover;
  width:15px;
  height:10px;
  position: absolute;
  left: 28px;
  bottom: 8px;
}
div.listCol strong {
  position: absolute;
  top: 0;
  left: 50px;
  font-size: 15px;
  width: 60%;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}