#roomInList {
    position:absolute;
    top:9vh;
    /* click -> top:14vh; */
    margin:0 43vw;
    z-index:1;
    background: url('../img/down.png') no-repeat;
    background-size:contain;
    width:14vw;
    height:5.5vw;
}
#roomInList div#roomInListModal {
    display:none;
    position:absolute;
    top:-6vh;
    left:-43vw;
    width:100vw;
    height:40px;
    background:#fff;
    border-top:1px solid #d8dfe3;
    border-bottom:1px solid #d8dfe3;
    overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
    -ms-overflow-style:none;
}
#roomInList div#roomInListModal div.listCol {
    width:100px;
    height:100%;
    border-right:1px solid #d8dfe3;
    display:inline-flex;
    overflow:hidden;
}
div.listCol img.listColProfile {
    width:30px;
    height:30px;
    border-radius:40%;
    margin:5px;
}
div.listCol div {
    width:55px;
    margin-top:6px;
    line-height:13px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
div.listCol div img.listColFlag {
    width:15px;
    height:10px;
}
div.listCol div strong {
    font-size:12px;
}